<Container class="home" id="home">
	<h1>Welcome to BERNAS BUSINESS APP</h1>
	<h2>BUILD YOUR OWN FAMILY OFFICE</h2>
	<%= image_tag("office.jpg", class: "img-responsive my-image Bild", :style => "border 100px solid #000000;") %>
</Container>

<container class="about" id="about">
	<h1>About BERNAS APP</h1>
	<h2>This page is only for young mothers.</h2>
	<p>I am a young mother with a son <br>
	Please contact me to be successfull <strong> <a href="#contact">Contact Information</a></strong> below.
	</p>
</container>


<div class="container-about">
	<div class="row" id="about">
		<div class="col-md-4 col-sm-4">
			<p>I want to support young mother</p>
		</div>

		<div class="col-md-4 col-sm-4">
			<p>I am a social person and can help you.</p>
		</div>

		<div class="col-md-4 col-sm-4">
			<p>I want to help people</p>
		</div>

	</div>
</div> <!-- End Container-work -->


<container class="contact" id="contact">
	<h1>Contact Information</h1>
	<h2>Please lets keep in touch:</h2>
	<p>Contact me: <strong> <a href="mailto:bernamother@gmx.com">bernamother@gmx.com</a></strong></p>
</container>
