<Container class="home" id="home">
	<h1>BERNAS PAGE</h1>
	<h2>INSPIRING PEOPLE</h2>
	<%= image_tag("office.png", class: "img-responsive my-image Bild", :style => "border 100px solid #000000;") %>
</Container>

<container class="about" id="about">
	<h1>About my success</h1>
	<h2>I WANT TO SUPPORT YOUNG MOTHERS.</h2>
	<p>I AM A YOUNG STUDENT WITH A THREE YEAR OLD SON <br>
	 <strong> <a href="#contact">Contact</a></strong> below.
	</p>
</container>


<div class="container-about">
	<div class="row" id="about">
		<div class="col-md-4 col-sm-4">
			<p>I WANT TO INSPIRE PEOPLE.</p>
		</div>

		<div class="col-md-4 col-sm-4">
			<p>I WANT TO SPEND MORE TIME WITH MY SON.</p>
		</div>

		<div class="col-md-4 col-sm-4">
			<p>I AM A FAMILY PERSON</p>
		</div>

	</div>
</div> <!-- End Container-work -->


<container class="contact" id="contact">
	<h1>Contact </h1>
	<h2>If you need to get in contact:</h2>
	<p>PLEASE CONTACT ME <strong> <a href="berna.altun@gmx.com">berna.altun@gmx.com</a></strong></p>
</container>
